.jumbotron{
    text-align: center;
}
.sectionLight{
    background-color: #eceeef;
    padding: 2rem;
}
.sectionDark{
    background-color: #cccccc;
    padding: 2rem;
}
.coolstuffwraper{ 
    margin-top: 20px;
}
button.btn-Coolstuff{
    background-color: red;
    color: #ffffff;
    display: block;
    margin: auto;
}
h1.modal-title{
    margin: auto;
}
.img-Center{
    display: block;
    margin: auto;
}